
   <div class="container">
       <div class="row ">
            <div *ngFor="let pelicula of peliculas" class="card col-md-3 " >
                <img src={{pelicula.img}} class="card-img-top mt-3" alt="...">
                <div class="card-body" style="max-width:319px;">
                    <h5 class="card-title">Estreno de Frozen: Novedades</h5>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sequi.</p>
                    <a href="#" class="btn btn-dark">Ir a la noticia</a>
                </div>
            </div>
            <div *ngFor="let pelicula of peliculas" class="card col-md-3">
                <img src={{pelicula.img}} class="card-img-top mt-3" alt="...">
                <div class="card-body" style="max-width:319px;">
                    <h5 class="card-title">Estreno de Frozen: Novedades</h5>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sequi.</p>
                    <a href="#" class="btn btn-dark ">Ir a la noticia</a>
                </div>
            </div>
            <div *ngFor="let pelicula of peliculas" class="card col-md-3 " >
                <img src={{pelicula.img}} class="card-img-top mt-3" alt="...">
                <div class="card-body"style="max-width:319px;">
                    <h5 class="card-title">Estreno de Frozen: Novedades</h5>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sequi.</p>
                    <a href="#" class="btn btn-dark">Ir a la noticia</a>
                </div>
            </div>

            <br>

            
            <div *ngFor="let pelicula of peliculas" class="card col-md-3 " >
                <img src={{pelicula.img}} class="card-img-top mt-3" alt="...">
                <div class="card-body"style="max-width:319px;">
                    <h5 class="card-title">Estreno de Frozen: Novedades</h5>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sequi.</p>
                    <a href="#" class="btn btn-dark">Ir a la noticia</a>
                </div>
            </div>
          
            <div *ngFor="let pelicula of peliculas" class="card col-md-3 " >
                <img src={{pelicula.img}} class="card-img-top mt-3" alt="...">
                <div class="card-body"style="max-width:319px;">
                    <h5 class="card-title">Estreno de Frozen: Novedades</h5>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sequi.</p>
                    <a href="#" class="btn btn-dark">Ir a la noticia</a>
                </div>
            </div>
            <div *ngFor="let pelicula of peliculas" class="card col-md-3 " >
                <img src={{pelicula.img}} class="card-img-top mt-3" alt="...">
                <div class="card-body"style="max-width:319px;">
                    <h5 class="card-title">Estreno de Frozen: Novedades</h5>
                    <p class="card-text text-center">Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, sequi.</p>
                    <a href="#" class="btn btn-dark">Ir a la noticia</a>
                </div>
            </div>
        
        </div>
    </div>


 