<section class="bg-light py-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">
          <h3>Contacto</h3>
          <p>
            Déjanos un comentario para mejorar
          </p>
          <form action="">
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <i class="fas fa-user input-group-text"></i>
              </div>
              <input type="text" class="form-control" placeholder="Name" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <i class="fas fa-envelope input-group-text"></i>
              </div>
              <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <div class="input-group-prepend">
                <i class="fas fa-pencil-alt input-group-text"></i>
              </div>
              <textarea name="" cols="30" rows="10" placeholder="Message" class="form-control"></textarea>
            </div>
            <button type="submit" class="btn btn-dark btn-block">Enviar</button>
          </form>
        </div>
      </div>
    </div>
  </section>

