<section id="newsletter" class="bg-secondary text-white py-4">
    <div class="container ">
      <div class="row">
        <div class="col-md-4">
          <input type="text" class="form-control form-control-md" placeholder="Enter your Name">
        </div>
        <div class="col-md-4">
          <input type="email" class="form-control form-control-md" placeholder="Enter your Email">
        </div>
        <div class="col-md-4">
          <!--da un mini fallo, no es responsive-->
          <button class="btn btn-dark btn-block ">
            Suscríbete a nuestra newsletter
          </button>
        </div>
      </div>
    </div>
  </section>

